<f:layout name="Default" />

<f:section name="Main">
    <f:for each="{articles}" as="article">
        <article class="post-header">
            <h2 class="post-title">
                <a href="{article.linkFile}">
                    {article.linkLabel}
                </a>
            </h2>
            <p class="post-meta">
                更新于：{article.mTime}
                <f:render partial="TagsPartial.html" arguments="{tags: article.tags}" />
            </p>
        </article>
    </f:for>
</f:section>